.event-flex {
    display: flex;
}

.event-flex .event_image {
    width: 500px;
    height: auto;
    max-height: 300px;
    object-fit: contain;

    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.event-flex .right {
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0;
}

.event-flex .title {
    margin: 10px 10px 10px 10px;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid;
    width: 100%;
}

.event-flex .text {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

@media screen and (max-width: 825px) {
    .event-flex {
        flex-direction: column;
    }

    .event-flex .event_image {
        width: 100%;
        height: auto;
    }

    .event-flex .right {
        margin: 20px 0 0;
    }
}

.scroll table {
    width: 100%;
}
.scroll {
    overflow: auto;
    white-space: nowrap;
}
.scroll::-webkit-scrollbar {
    height: 5px;
}
.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb {
    background: #bcbcbc;
}


.event-detail h1 {
    font-size: 24px;
    font-weight: bold;
}

.event-detail h2 {
    font-size: 20px;
    font-weight: bold;
}

.event-detail h3 {
    font-size: 18px;
    font-weight: bold;
}

.event-detail h4 {
    font-size: 16px;
    font-weight: bold;
}

.event-detail h5 {
    font-size: 14px;
    font-weight: bold;
}

.event-detail h6 {
    font-size: 12px;
    font-weight: bold;
}

.event-detail p {
    margin-bottom: 10px;
}

.event-detail strong {
    font-weight: bold;
}

.event-detail em {
    font-style: italic;
}

.event-detail a {
    color: blue;
    text-decoration: underline;
}

.event-detail a:hover {
    text-decoration: none;
}

.event-detail hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

.event-detail ul {
    list-style-type: disc;
    margin-left: 20px;
}

.event-detail ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.event-detail li {
	color: black;
}

.event-detail h1,
.event-detail h2, 
.event-detail h3, 
.event-detail h4, 
.event-detail h5, 
.event-detail h6 {
    border: 0 none !important;
}

.event-detail h1 {    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #000080 !important;
}

.event-detail h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;    
	border-bottom: 2px solid #000080 !important;    
}

.event-detail pre {
	background-color: #f8f8f8;    
    border: 1px solid #2f6fab;
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
}

.event-detail pre code {
    background-color: inherit;
    border: none;    
    padding: 0;
}

.event-detail code {
	background-color: #ffffe0;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 0 0.2em;
}

.event-detail a {
	text-decoration: underline;	
}

.event-detail ul, .event-detail ol {
	padding-left: 30px;
}

.event-detail li {
	margin: 0.2em 0 0 0em; padding: 0px;
}

.event-detail em {
	color: #b05000;
}

.event-detail table.text th, .event-detail table.text td {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding:5px;
}
